<!DOCTYPE html>
<html ng-app="poolin" xmlns:font-family="http://www.w3.org/1999/xhtml">

<head>
    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Cache-Control" content="max-age=604800, must-revalidate"/>
    <title>Mypoolin - Payments made fun</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.95"/>



    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-sidebar/dist/css/sidebar.css">
    <link rel="stylesheet" href="poolincss/style.css">
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.css">
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.min.css">

</head>

<body ng-controller="indexCtrl" ng-class="{mainbody:mainbody,splashbackground:splashbackground}">

<div ng-view class="{{currentviewname}}"></div>


<!-- Essential for Bootstrap to work-->
<script src="bower_components/jquery/dist/jquery.js"></script>
<!-- Including Angular js Scripts -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<!--including bootstrap scripts -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--including Sidebar -->
<script src="bower_components/bootstrap-sidebar/dist/js/sidebar.js"></script>
<!-- Include angular scroll for scrolling -->
<script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
<!--including app.js -->
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="bower_components/ng-dialog/js/ngDialog.min.js"></script>
<!--contains controllers part -->

</body>
</html>
