<div id="accounts" ng-app="poolin"
     style="background-color: white;padding-top:70px;padding-left:12%;padding-bottom:6%;padding-right:12%"
     ng-class="{makebodyblur:makebodyblur}">

    <div class="row">

        <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">
            <form id="login-form" class="login-form" method="post" ng-submit="formsubmitted()">

                <input type="email" class="input-email"
                       name="email" id="email" placeholder="Email" value=""
                       ng-model="user.emailaddress">

                Or

                <input type="tel" class="input-phone" name="phone" maxlength="10" id="phone"
                       placeholder="Phone number" value="" ng-model="user.phonenumber">
                <br><br>


                <input type="password" name="password" id="password" class="input-password" placeholder="Password"
                       ng-model="user.password" style="display: block">
                <br>

                <a href="#"
                   ng-click="openforgotmodal()"
                   style="color: black;text-decoration: none;font-size: 1.2em;margin-top: 3%;padding-bottom: 3%">
                    Forgot / Change password?
                    <br><br> </a>

                <input type="hidden" name="fbID" id="fbID" value="null">

                <input type="hidden" name="fbEmail" id="fbEmail" value="null">

                <input type="submit" class="submit formsubmitbutton" value="Go!" style="display: block">

            </form>
        </div>

        <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12">

            <p style="font-size:1.5em;font-family: 'Titillium Web',sans-serif;font-weight:100;" ng-class="{martop8:martop8}">
                If you are a new user, you can simply download the app <br>
                or

                <a href="" style="text-decoration: none" du-smooth-scroll="section-3" du-scrollspy offset="-160">
        <span style="color: #f5a623;cursor: pointer">
        start below</span>
                </a>
                directly without any login!
            </p>

            <p style="font-size:1em;font-family: 'Titillium Web',sans-serif;font-weight:100;margin-top:30px;">
                (Your account will be created
                on the go automatically and a secure password will<br>
                be mailed to you. You can change it at any point of time by coming here)
            </p>
        </div>
    </div>




