<div class="poolininfo row" style="overflow-x: hidden"
     ng-class="{mobiletextaligncenter:mobiletextaligncenter,makebodyblur:makebodyblur}">

    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 text-center">
        <a href="https://mypoolin.com" style="cursor: pointer">
            <img src="images/Logo_Mypoolin_white.png" style="width:120px"><br>
        </a>
        <h6 style="color: white;margin-top:4px">Copyright &copy; 2016 <br> All rights reserved.</h6>


    </div>

    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">

        <h4 style="color:white;"><b>About</b></h4>
        <h5 style="color:white;margin-top:0px">
            <a href="About/About.html" class="textfooter"> AboutUs</a><br>
            <a href="About/Terms.html" class="textfooter">Terms & Conditions</a> <br>
            <a href="About/Privacy.html" class="textfooter">Privacy Policy</a>
        </h5>


    </div>

    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">

        <h4 style="color:white"><b>Buzz</b></h4>
        <h5 style="color:white;margin-top:0px">
            <a href="blog" class="textfooter">Blog</a>
            <br>
            <a href="About/Press.html" class="textfooter">Press & Media</a>
        </h5>

    </div>

    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
        <h4 style="color:white"><b>Social</b></h4>

        <a href="https://www.facebook.com/mypoolin" style="text-decoration:none">
            <div class="fullcircle social-facebook-center">
                <i class="ion-social-facebook socialcolorfooter"></i>
            </div>
        </a>

        <a href="https://www.youtube.com/channel/UCWU-mceX3AWWfJcFpUOHp0Q" style="text-decoration: none">
            <div class="fullcircle social-youtube-center">
                <i class="ion-social-youtube socialcolorfooter"></i>
            </div>
        </a>

        <a href="https://twitter.com/mypoolin" style="text-decoration: none">
            <div class="fullcircle social-twitter-center">
                <i class="ion-social-twitter socialcolorfooter"></i>
            </div>
        </a>

    </div>


    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 martop3per">

        <h4 style="color:white;"><b>Stay Connected</b></h4>
        <h5 style="color:white;margin-top:0px">
            <a class="textfooter" href="mailto:hello@mypoolin.com">hello@mypoolin.com</a> <br>
            <a class="textfooter" href="tel:+91-9599771577">(+91) 9599771577</a><br>
            <a href="" class="textfooter"> InfinyPool India, Sector-32, Gurgaon, Haryana, India</a>
        </h5>

        <h5 style="color: white">
            Be the first to hear abour our news and offers{{modaltextdisplay}}

        </h5>

        <div class="input-group" ng-class="{colcentered:colcentered}" ng-controller="myCtrl">
            <input type="email" class="form-control" placeholder="Your email address" ng-model="emailsubscribe"
                   style="height:50px">
            <span class="input-group-btn" style="height:50px">

                      <button ng-click="submitemail()" style="background-color: #0075AA;height:50px;width:50px"
                              class="btn">
                          <i class="ion-arrow-right-c" style="color:white;font-size:1.2em;"></i>
                      </button>
            </span>


        </div>
    </div>


</div>
