<div class="row topbackground" id="section-1"
     ng-class="{changetopbackground:lightbackground,makebodyblur:makebodyblur}">

    <div class="main col-md-12">

        <div class="row text-center" style="z-index:80;margin-top:60px">
            <p class="mypoolintext">
                Mypoolin
            </p>



            <p class="paymentmadefuntext">
                Payments made fun
            </p>
        </div>

        <div class="row text-center" style="margin-top:3.2%">

            <div class="col-md-3 col-lg-4 col-sm-12 col-xs-12"></div>
            <div class="col-md-3 col-lg-2 col-sm-12 col-xs-12">
                <input id="phoneNumber" type="phone" placeholder="9999-99999" maxlength="10" ng-model="mobilenumber">
            </div>
            <div class="col-md-3 col-lg-2 col-sm-12 col-xs-12 margintop2per">
                <button ng-click="getlinkmobile()" class="linkbuttonforapp">
                   <span>
                       GET LINK
                   </span>
                </button>
            </div>
            <div class="col-md-3 col-lg-2 col-sm-12 col-xs-12"></div>
        </div>


        <div class="row text-center storebuttonwrapper">

            <div class="col-md-3 col-lg-4 col-sm-12 col-xs-12"></div>
            <div class="col-md-3 col-lg-2 col-sm-12 col-xs-12">
                <a target="_blank"
                   href="https://play.google.com/store/apps/details?id=com.app.mypoolin&amp;referrer=utm_source%3Dhome_page%26utm_medium%3Dmypoolin_web">
                    <img class="googlestoreimage" src="images/playstore-black-button.jpg">
                </a>
            </div>
            <div class="col-md-3 col-lg-2 col-sm-12 col-xs-12 margintop2per">
                <a target="_blank"
                   href="https://itunes.apple.com/in/app/mypoolin-plan-pay-friends/id1032623508?mt=8&amp;ref
                errer=utm_source%3Dhome_page%26utm_medium%3Dmypoolin_web"><img
                        class="appstoreimage" src="images/apptore-black-button.jpg">
                </a>
            </div>
            <div class="col-md-3 col-lg-2 col-sm-12 col-xs-12"></div>
        </div>

        <div class="row text-center">
            <hr class="sectionseperator" style="border: none">
        </div>



        <div class="text-center row startonwebwrapper">
            <button class="btn startonwebbutton" du-smooth-scroll="section-3" du-scrollspy offset="45">
                START ON WEB
            </button>
        </div>




        <div class="text-center ventureswrapper martop30">
            <a target="_blank"
               href="http://articles.economictimes.indiatimes.com/2015-08-08/news/65351075_1_qualcomm-ventures-qprize-capillary">
                Winner of QPrize 2015 India
                <img ng-src="images/img/qualcomm-1.png">
                <img ng-src="images/img/Accel.png">
            </a>
        </div>
    </div>
</div>

