<div id="section-3" class="row text-center sectionthree" ng-class="{makebodyblur:makebodyblur}">

        <span>
        <h3>Trusted and Secure. Our Payment Partners</h3>
        </span>

    <img src="images/paymentlogos/PayU_web.png" class="mobi-paypal">
    <img src="images/paymentlogos/Paytm_web.png" class="payu-paytm">
    <img src="images/paymentlogos/Mobikwik_web.png" class="mobi-paypal">
    <img src="images/paymentlogos/Paypal_web.png" class="payu-paytm">

    <div class="title-page">

        <h2 class="threethousandpeople">
            30000+ awesome people active already!
        </h2>

        <h2 class="margintop20pixel">What do you wanna do today?</h2>
    </div>

    <div class="row defaultsliderone" ng-class="{
             showslideronedisplay:showslideronedisplay,
             hideslideronedisplay:hideslideronedisplay,
             lefttorightsliderone:lefttorightsliderone,
             righttoleftsliderone:righttoleftsliderone}">


        <div class="col-lg-6 col-md-6 col-sm-12 col-md-12 text-center">
            <a href="Organize/Userlogin?settle=1" target="_blank">
                <img ng-src="images/img/samples/collect.png" class="width30pix">
            </a>

            <h3 class="profile-name">Split &amp; Settle</h3>
            <h4>Split and collect money back from your friends<br/>
                Settle your bills for dining, movies, parties &amp; more!</h4>

            <a target="_blank" href="Organize/Userlogin?settle=1">
                <button class="btn startnowbutton">
                    START NOW
                </button>
            </a>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-md-12 text-center" ng-class="{martop8:martop8}">

            <img ng-click="changesliderone()" ng-src="images/img/samples/events.png" class="width30pix cursorpointer">

            <h3 class="profile-name">Plan &amp; Pay</h3>
            <h4>Plan anything with your group of friends<br/>
                Everyone pays their own share for the plan!</h4>

            <button class="btn startnowbutton" ng-click="changesliderone()">
                START NOW
            </button>

        </div>
    </div>


    <div class="row defaultslidertwo"
         ng-class="{showslidertwodisplay:showslidertwodisplay
             ,hideslidertwodisplay:hideslidertwodisplay,
             lefttorightslidertwo:lefttorightslidertwo,
             righttoleftslidertwo:righttoleftslidertwo}">


        <div class="row text-center" style="height:40px;margin:0">

            <div class="col-lg-6 col-md-6 col-sm-12 col-md-12 text-center" ng-click="backslidertoone()">
                <div style="width:300px; margin:0 auto;">
                    <span style="float: left">
                       <i class="ion-arrow-left-c" style="font-size: 2.2em;cursor: pointer"></i>
                   </span>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-md-12 text-center">

                <div style="width:300px; margin:0 auto;">
                   <span style="float: left">
                       <i class="ion-arrow-left-c" style="font-size: 2.2em;color: white"></i>
                   </span>
                </div>

            </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-12 col-md-12 text-center">

            <img ng-click="changesliderfour()" ng-src="images/img/samples/close-friends.png"
                 class="width30pix cursorpointer">

            <h3 class="profile-name">Close set of friends</h3>
            <h4>Add your close friends from your email list<br>
                Split and assign shares for everyone in the group<br>
                Useful for gifting, events, parties & outings.</h4>
            <button class="btn startnowbutton" ng-click="changesliderfour()">
                START NOW
            </button>
            </a>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-md-12 text-center" ng-class="{martop8:martop8}">
            <img ng-click="changeslidertwo()" ng-src="images/img/samples/open gathering.png"
                 class="width30pix cursorpointer">

            <h3 class="profile-name">Open group of people</h3>
            <h4>Not sure about how many people will join in & pay?<br>
                Get a single link to share on social media and emails<br>
                Useful for open ended gatherings and activities</h4>
            <button class="btn startnowbutton" ng-click="changeslidertwo()">
                START NOW
            </button>

        </div>
    </div>


    <div class="row defaultsliderfour"
         ng-class="{showsliderfourdisplay:showsliderfourdisplay
             ,hidesliderfourdisplay:hidesliderfourdisplay,lefttorightsliderfour:lefttorightsliderfour,
             righttoleftsliderfour:righttoleftsliderfour}">


        <div class="row text-center" style="height:40px;margin:0">

            <div class="col-lg-6 col-md-6 col-sm-12 col-md-12 text-center" ng-click="backslidertothree()">
                <div style="width:300px; margin:0 auto;">
                    <span style="float: left">
                       <i class="ion-arrow-left-c" style="font-size: 2.2em;cursor: pointer"></i>
                   </span>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-md-12 text-center">

                <div style="width:300px; margin:0 auto;">
                   <span style="float: left">
                       <i class="ion-arrow-left-c" style="font-size: 2.2em;color: white"></i>
                   </span>
                </div>

            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-md-12 text-center">
            <a href="Organize/Userlogin?gifting=1">
                <img ng-src="images/img/samples/gifts.png" class="width30pix">
            </a>

            <h3 class="profile-name">Gifting</h3>
            <h4>Pool money for gift cards of 60+ amazing brands!<br>
                Collect money and redeem for any product on our partners<br>
                like Amazon, Jabong, Flipkart, Myntra & more! </h4>
            <a target="_blank" href="Organize/Userlogin?gifting=1">
                <button class="btn startnowbutton">
                    START NOW
                </button>
            </a>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-md-12 text-center" ng-class="{martop8:martop8}">
            <a href="Organize/Userlogin?explore=1">
                <img ng-src="images/img/samples/event.png" class="width30pix">
            </a>

            <h3 class="profile-name">Travel, Movies, Parties or Events</h3>
            <h4>Travelling together with a bunch of friends? Or<br>
                Going for movies, parties and events in a group?<br>
                Share the cost and everyone pays their own share</h4>
            <a target=_blank href="Organize/Userlogin?explore=1">
                <button class="btn startnowbutton">
                    START NOW
                </button>
            </a>

        </div>
    </div>


    <div class="row defaultsliderthree"
         ng-class="{showsliderthreedisplay:showsliderthreedisplay,
             hidesliderthreedisplay:hidesliderthreedisplay
             ,lefttorightsliderthree:lefttorightsliderthree,
             righttoleftsliderthree:righttoleftsliderthree}">

        <div class="row text-center" style="height:40px;margin:0">

            <div class="col-lg-6 col-md-6 col-sm-12 col-md-12 text-center" ng-click="backslidertotwo()">
                <div style="width:300px; margin:0 auto;">
                    <span style="float: left">
                       <i class="ion-arrow-left-c" style="font-size: 2.2em;cursor: pointer"></i>
                   </span>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-md-12 text-center">

                <div style="width:300px; margin:0 auto;">
                   <span style="float: left">
                       <i class="ion-arrow-left-c" style="font-size: 2.2em;color: white"></i>
                   </span>
                </div>

            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-md-12 text-center">
            <a href="Organize/Userlogin?eventOrganize=1">
                <img ng-src="images/img/samples/eventcreate.png" class="width30pix">
            </a>

            <h3 class="profile-name">Organizing an Event</h3>
            <h4>Collecting money for the tickets for an event<br>
                Everybody can register, pay their fixed share<br>
                and see who all are attending the activity. </h4>
            <a target="_blank" href="Organize/Userlogin?eventOrganize=1">
                <button class="btn startnowbutton">
                    START NOW
                </button>
            </a>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-md-12 text-center" ng-class="{martop8:martop8}">
            <a href="Organize/Userlogin?eventOrganize=1">
                <img ng-src="images/img/samples/Community.png" class="width30pix">
            </a>

            <h3 class="profile-name">Open Gathering or Community</h3>
            <h4>Raising funds for an open party or event<br>
                Combined project or a community initiative<br>
                can be easily done.</h4>
            <a href="https://mypoolin.com/Organize/Userlogin?flexible=1">
                <button class="btn startnowbutton">
                    START NOW
                </button>
            </a>
        </div>
    </div>
</div>